<% unless comment.replies_count == 0 %>
	<div >
		<%- comment.replies.each do |comment| -%>
    		<div class='reply' id="child_comment_<%= comment.id %>">
	        	<%= render "comments/comment", :comment => comment %>
    		</div>
		<%- end -%>
	</div>
<% end %>